<!DOCTYPE html>
<html>
<head>
  <title>Editing/Deleting Car</title>
</head>
<body>
  <a href="admin/show_all_cars">View all cars</a>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th>location</th>
      <th></th>
    </tr>
    <% for dealer in @dealers %>
    <tr>
      <td><%= dealer.name %></td>
      <td>|</td>
      <td><%= dealer.id %></td>
      <td>|</td>
      <td>
        <form method="get" action="/admin/dealer_spec_cars/<%= dealer.id %>/">
          <button type="submit"> Edit/Delete via dealer</button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</body>
</html>