<!DOCTYPE html>
<html>
<head>
  <title>Administration page</title>
</head>
<body>
  <tr>
    <td><form action="admin/new_car">
      <input type="submit" value = "Add a new car"</>
      <td><form action="admin/new_dealer">
        <input type="submit" value="Add a new dealer" </>
      </form>
      <td><form action="admin/new_offer">
        <input type="submit" value="Add new offer" </>
      </td>
      <td><form action="admin/edit_cars">
      <input type="submit" value="Edit/Delete cars"</>
      </form>
    </tr>
  </body>
  </html>