<!DOCTYPE html>
<html>
<head>
  <title>Administration page</title>
</head>
<body>
<a href="admin/new_car">Add a new car</a>
<a href="admin/new_dealer">Add a new dealer</a>
<a href="admin/new_offer">Add new offer</a>
</body>
</html>