<h2>Add new car to database</h2>
<form method="POST" action="/add_offer">


  <label for="name">Offer name:</label>
  <input type="text" name="name" id="name"/>


  <label for="value">Discount %:</label>
  <input type="text" name="value" id="value"/>

  <label for="day">What day is the deal on:</label> 
  <select name="day" id="day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>

  <label for="car_select">Select Car:</label> 
  <select name="car_id" id="car_select">
    <% @cars.each do |car| %>
    <option value=<%= car.id %>><%= "#{car.make} #{car.model}".capitalize %></option>
    <% end %>
  </select>

 

  <input type="submit" value="Add new offer"/>



</form>