<h2>Add new car to database</h2>
<form method="POST" action="/add_car">


  <label for="make">Make:</label>
  <input type="text" name="make" id="make"/>


  <input type="file" value="Submit">


  <label for="model">Model:</label>
  <input type="text" name="model" id="model"/>

  <label for="category">Category:</label> 
  <select name="category" id="category">
    <option value="SUV">SUV</option>
    <option value="Hatchback">Hatchback</option>
    <option value="Saloon">Saloon</option>
    <option value="MPV">MPV</option>
    <option value="Convertible">Convertible</option>
    <option value="Coupe">Coupe</option>
    <option value="Supercar">Supercar</option>
    <option value="Small Van">Small Van</option>
    <option value="Large Van">Large Van</option>
  </select>

  <label for="price">Price:</label>
  <input type="text" name="price" id="price"/>

  <label for="available">Available:</label> 
  <select name="available" id="available">
    <option value="true">Available for rent</option>
    <option value="false">Unavailable</option>
  </select>


  <label for="dealer_select">Select Dealer:</label> 
  <select name="dealer_id" id="dealer_select">
    <% @dealers.each do |dealer| %>
    <option value=<%= dealer.id %>><%= dealer.name.capitalize %></option>
    <% end %>
  </select>


  <input type="submit" value="Add new car"/>



</form>