<h1>Change this Steven link dealer name into here</h1>
<table>
  <tr>
    <th>Make</th>
    <th></th>
    <th>Model</th>
    <th></th>
    <th>Category</th>
  </tr>
  <% for car in @cars %>
  <tr>
    <td><%= car.make %></td>
    <td>|</td>
    <td><%= car.model %></td>
    <td>|</td>
    <td><%= car.category %></td>
  </tr>
  <% end %>
</table>








