<h1>Rental Dealerships</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>location</th>
    <th></th>
    <th>Check out dealer</th>
  </tr>
  <% for dealer in @dealers %>
  <tr>
    <td><%= dealer.name %></td>
    <td>|</td>
    <td><%= dealer.address %></td>
    <td>|</td>
    <td>
      <form method="get" action="/dealers/<%= dealer.id %>/">
        <input type="submit" value="Check out dealers cars">
      </form>
    </td>
  </tr>
  <% end %>
</table>
