<!DOCTYPE html>
<html>
<head>
  <title>Cheap Rental Deals</title>
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
  <link rel="icon" href="/images/DayRateLogo.png" />

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">

</head>
<body>
<center><img src="/images/fleet_cars.jpg" alt="HeadLightGIF" 
style="width:1000px;height:250px;"></center>
<b><center><h1>Day Rate Rentals</h1></center></b>

  <nav>
    <ul>
      <li><a href="/">Main Page</a></li>
      <li><a href="/offers">Hot deals</a></li>
      <li><a href="/dealers">Rental Agencies</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
<footer>
  <br>
  <br>
  <a href="/admin">Admin Page</a>
  <p>Contact information: <a href="mailto:someone@example.com">
    Boringemail@gmail.com</a>.</p>
  </footer>
  </html>