<h1>Hot Deals</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Day</th>
    <th></th>
    <th>Offer amount</th>
    <th>Check out this offer</th>
  </tr>

  <% for offer in @offers %>
  <tr>
    <td><%= offer.name %></td>
    <td>|</td>
    <td><%= offer.day %></td>
    <td>|</td>
    <td><%= offer.value %>%</td>

    <% car_id = offer.car_id %>

    <td>
      <form method="get" action="/cars/<%= car_id %>">
        <input type="submit" value="Check out car offer">
      </form>
    </td>
    </tr>
    <% end %>
  </table>


